/* NAV BAR */
#navbar-container {
    position: relative;
    width: 100%;
}

#main-navbar {
    background-color: blue;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
}

#main-navbar ul {
    float: left;
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    left: 50%;
}

#main-navbar li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
}

#main-navbar a {
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}

#main-navbar a:hover {
    background-color: #000;
}

#onpage {
    color: #fff;
    text-decoration: underline overline;
}


/* SIDE BAR */

#sidebar {
    position: fixed;
    height: 100%;
    background-color: red;
    right: 0%;
}

#sidebar-container {
    width: 20%;
}

#sidebar-container ul {
    text-align: center;
    list-style-type: none;
}

#sidebar-container li {
    /* list-style-type: none; */
}

#sidebar-container a {}