/* NAV BAR */
#navbar-container {
    width: 100%;
}

#main-navbar {
    text-align: center;
    background-color: blue;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

#main-navbar ul {
    list-style-type: none;
    display: block;
}

#main-navbar li {

}

#main-navbar a {}

#onpage {}


/* SIDE BAR */

#sidebar {}

#sidebar-container {
    background-color: red;
    position: fixed;
}

#sidebar-container ul {}

#sidebar-container li {}

#sidebar-container a {}